@charset "utf-8";
/**
 * @name:病例单
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/03/05
 * @author: qiangkailiang
 */
.medical-record-title-text {
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  line-height: 56px;
  & > h2 {
    font-weight: normal;
    font-size: 16px;
    color: #555555;
    height: 100%;
    width: 100%;
    line-height: 56px;
  }
}

.medical-record-content {
  height: 100%;
}

.medical-record-title {
  font-size: 0;
  padding: 18px 30px 0;
  box-sizing: border-box;
  .medical-record-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    cursor: pointer;
    & > img {
      width: 70px;
      height: 70px;
      vertical-align: top;
    }
  }
  .medical-record-userdata {
    display: inline-block;
    vertical-align: middle;
    & > h3 {
      color: #222;
      font-size: 16px;
      font-weight: normal;
      .name {
        font-size: 20px;
        color: #222222;
        vertical-align: middle;
        letter-spacing: 0;
        line-height: 20px;
        max-width: 150px;
        display: inline-block;
      }
      & > p {
        display: inline-block;
        vertical-align: bottom;

        .age {
          font-size: 16px;
          color: #222222;
          letter-spacing: 0;
          line-height: 16px;
          vertical-align: bottom;
          margin-left: 12px;
        }
      }

    }
    .medical-record-userdata-item {
      color: #222;
      font-size: 12px;
      margin-top: 16px;
      .status {
        font-size: 15px;
        color: #6B748C;
        letter-spacing: 0;
        line-height: 15px;
        margin-right: 10px;
      }
      .category {
        font-size: 15px;
        color: #6B748C;
        letter-spacing: 0;
        line-height: 1.5;
        max-width: 240px;
        display: inline-block;



      }
    }
  }
}

.medical-record-detail {
  margin-top: 30px;
  height: 100%;
}

.tabsInner.medical-record-tabs {
  text-align: center;
  border-bottom: 1px solid #E1E2E7;
  font-size: 0;
  margin: 0 14px;
  box-sizing: border-box;
  & > .tabsItem {
    display: inline-block;
    font-size: 15px;
    color: #808080;
    padding: 0 2px;
    margin: 0 2.5px;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 10px;
    &.active {
      border-bottom: 4px solid #7a8ec1;
      color: #323D5E;
    }
  }
}

.medical-record-main {
  width: 100%;
  padding: 25px 28px;
  box-sizing: border-box;
  padding-bottom: 50px;
  // height: 630px;
  //overflow: auto;
  //overflow-x:hidden;
}

.base-title {
  width: 54px;
  font-size: 13px;
  color: #555555;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 8px;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.base-title-long {
  width: 65px;
  margin-left: -12px;
}

.base-text {
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  line-height: 14px;
  display: inline-block;
  width: 248px;
  vertical-align: middle;
}

.sick-text {
  font-size: 14px;
  color: #808080;
  letter-spacing: 0;
  line-height: 1.5;
  width: 230px;
  display: inline-block;
  vertical-align: top;
}

.base-info {
  li {
    margin-top: 15px;
  }
  .select-120 {
    min-width: 119px;
  }
  .select-248 {
    min-width: 248px;
  }
  .base-input {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    width: 239px;
  }
  header {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 216px;
      left: 50%;
      margin-left: -108px;
      border: 1px solid #E1E2E7;
    }
  }
  h2 {
    font-size: 12px;
    color: #AAAAAA;
    letter-spacing: 0;
    line-height: 12px;
    margin: 0 auto;
    width: 56px;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  footer {
    .base-saveBtn {
      background: #7A8EC1;
      border-radius: 4px;
      width: 70px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }

  .userlist-sortType {
    background: #f9f9f9;
    border: 1px solid #e1e2e7;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    height: 18px;
    width: 230px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    .userlist-sortType-item {
      border: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      .custom-selector {
        width: 100%;
        height: 100%;
        .custom-selector-title {
          width: 100%;
          font-size: 14px;
          height: 100%;
          line-height: 18px;
          text-align: left;
        }
        .icon-downArrow:after {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .custom-selector-second-box {
          margin-left: 0;
        }
      }
    }
  }
}

.main-sick {
  .main-title {
    //width: 52px;
    font-size: 13px;
    color: #555;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 8px;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
  }
  .main-title-long{
    width:78px;
  }
  .main-text {
    font-size: 14px;
    color: #808080;
    letter-spacing: 0;
    line-height: 1.5;
  }
  header {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 216px;
      left: 50%;
      margin-left: -108px;
      border: 1px solid #E1E2E7;
    }
  }
  li {
    margin-top: 24px;
  }
  h2 {
    font-size: 12px;
    color: #AAAAAA;
    letter-spacing: 0;
    line-height: 12px;
    margin: 0 auto;
    width: 92px;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  select {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    min-width: 84px;
  }
  .select-120 {
    min-width: 119px;
  }
  .main-sick-input {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    width: 235px;
  }
}

.old-sick .old-sick-history-list {
  margin-top: 30px;
  textarea {
    height: auto;
    padding: 5px;
  }
  div{
    background: #f9f9f9;
    border: 1px solid #e1e2e7;
    min-height: 18px;
    border-radius: 4px;
    display: inline-block;
    width: 225px;
    line-height: 18px;
    padding: 5px;
    font-size: 14px;
    vertical-align: middle;
    color:#ccc;

  }
}

.medical-title {
  white-space: nowrap !important;
}

.body-check {
  .select-130 {
    min-width: 118px;
  }
  .medical-title {
    width: 52px;
    font-size: 13px;
    color: #555;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 8px;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
  }

  select {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    line-height: 14px;
    min-width: 95px;
  }
}

.medical-record-form {
  overflow: auto;
  //height: 620px;
  height: 72%;
  box-sizing: border-box;
  &.on {
    padding-bottom: 340px;
  }
  .main-speak {
    .operation-name {
      margin-top: 100px;
    }

    header {
      text-align: center;
      margin-bottom: 30px;
      position: relative;
    }

    .sick-img-one {
      display: inline-block;
      position: relative;

    }

    .sick-img {
      width: 150px;
      height: auto;
    }
    .sick-dot {
      width: 25px;
      height: 25px;
      position: absolute;
     // background: url("/image/img00/employee/dot.png") no-repeat;
      background-size: 100% 100%;
    }

    .sick-info {
      font-size: 14px;
      color: #808080;
      letter-spacing: 0;
      line-height: 1.5;
    }
    .J-consult {
      //display: none;
    }

    .J-order-operation {
      //display: none;
    }
    .sick-title {
      width: 78px;
      font-size: 13px;
      color: #555555;
      letter-spacing: 0;
      line-height: 1.5;
      margin-right: 15px;
      text-align: right;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
    }
    li {
      margin-top: 24px;
    }

  }
  // max-height: 400px;
  .J-order-operation {
    //display: none;
  }
  input[type="text"] {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 14px;
    height: 18px;
    width: 240px;
    vertical-align: middle;
  }

  footer {
    text-align: right;
    margin-top: 24px;
    .detail-saveBtn {
      background: #7A8EC1;
      border-radius: 4px;
      width: 70px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .medical-title {
    width: 52px;
    font-size: 13px;
    color: #555;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 8px;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
  }
  .medical-text {
    font-size: 14px;
    color: #808080;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 15px;

  }
  .medical-text-long {
    //margin-left: -28px;

    width: 80px;
  }
  select {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    font-size: 14px;
    line-height: 14px;
    min-width: 80px;
    width: 84px;
    vertical-align: middle;
  }
  .select-100 {
    width: 250px;
  }
  textarea {
    background: #F9F9F9;
    border: 1px solid #E1E2E7;
    border-radius: 4px;
    width: 255px;

    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  li {
    margin-top: 25px;
  }
  li:first-child {
    margin-top: 15px;
  }
  .body-check {
    .input-95 {
      width: 72px;
    }
  }
  .major-check {
    text-align: center;
    input[type="text"] {
      margin: 0 auto;
      display: block;
    }
    header {
      position: relative;
      margin-bottom: 30px;
      margin-top: 50px;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 216px;
        left: 50%;
        margin-left: -108px;
        border: 1px solid #E1E2E7;
      }
      h2 {
        font-size: 12px;
        color: #AAAAAA;
        letter-spacing: 0;
        line-height: 12px;
        margin: 0 auto;
        padding: 0 10px;
        background: #fff;
        text-align: center;
        position: relative;
        z-index: 2;
        display: inline-block;
      }
    }
    .img-check {
      ul {
        li {
          margin: 0 0 30px 0;
          width: 104px;
          height: 107px;
          float: left;
          text-align: center;
          &.noData {
            width: 100%;
            height: 20px;
            float: none;
            color: #aaa;
            font-size: 13px;
          }
          img {
            width: 80px;
            height: 80px;
            border-radius: 4px;
            cursor: pointer;
          }
          p {
            margin-top: 12px;
            font-size: 13px;
            color: #555555;
            letter-spacing: 0;
            line-height: 13px;

          }
        }
      }
      ul:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
      }
    }
    .video-check {
      ul {
        li {
          margin: 0 0 30px 0;
          height: 107px;
          float: left;
          text-align: center;
          margin-right: 30px;
          &.noData {
            width: 100%;
            height: 20px;
            float: none;
            margin-right: 0;
            font-size: 13px;
            line-height: 20px;
            color: #aaa;
          }

          img {
            width: auto;
            height: 80px;
            border-radius: 4px;
          }
          p {
            margin-top: 12px;
            font-size: 13px;
            color: #555555;
            letter-spacing: 0;
            line-height: 13px;
          }
        }
        &:first-child {
          margin-left: 12px;
        }
      }
      ul:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
      }

    }
    .detail-saveBtn {
      margin-right: 35px;
    }

  }
}

.ml20 {
  margin-left: 23px;
}

.ml15 {
  margin-left: 15px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}
