@charset "utf-8";
/**
* @Desc：
* @Usage:
* @Notify：
* @Depend：
*
* Created by qiangkailiang on 2017/3/6
*/

.popup{
  &.right{
    left:91%;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  transform:scale(1) translate(-50%,-50%);
  background: #000000;
  padding:20px 28px;
  border-radius: 8px;
  transform-origin: 0% 0%;
  transition:all 0.2s linear;
  z-index: 6;
  .popup-text{
    font-size: 16px;
    color: #FFFFFF;
  }
  .middle-tip-box-text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    & > img {
      width: 50px;
      height: 50px;
      vertical-align: top;
      margin-bottom: 14px;
    }
  }
}
