/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by qiangkailiang on 2017/3/9
 */
.doctor-message{
  display:none;
  &.show{
    display:block;
  }
  .no-mate-doc{
    margin-top:130px;
    text-align: center;
    font-size: 14px;
    color: #AAAAAA;
  }
}
.doc-filter-search-box{
  position:relative;
  margin:16px 40px 35px;
  padding:12px 17px;
  background:#F9F9F9;
  border-radius:4px;
  &.hide{
    display:none;
  }
  .doc-filter-box{
    @include clearfix();
    &.quHighly{
      height:50px;
      overflow: hidden;
    }
    transition: all 0.4s;
    height:auto;
    margin-bottom:12px;
    li{
      float:left;
      cursor:pointer;
      margin-right:5px;
      padding:12px 11px;
      color:#999999;
      font-size:15px;
      &.on{
        background:#E2E7F2;
        color:#7A8EC1;
        border-radius:4px;
      }
    }
  }
  .viewMore{
    cursor:pointer;
    display:block;
    width:14px;
    height:4px;
    transition: all 0.4s;
    position:absolute;
    right:25px;
    top:30px;
    z-index: 2;
    background:url("/image/dot_more.png") no-repeat;
    background-size:100% 100%;
    &.rotate{
      transform:rotate(90deg);
    }
  }
  .doc-search-box{
    @include clearfix();
    .doc-search{
      float:left;
      width:200px;
      height:26px;
      padding-right:30px;
      margin-right:16px;
      border: 1px solid #E3E3E3;
      border-radius:4px;
      text-indent: 10px;
      background:url("/image/img00/check/search_gray.png") 97% center no-repeat #fff;
      font-size: 13px;
      color: #555555;
      &.on{
        border: 1px solid #B2BDD8;
        background:url("/image/img00/check/search_blue.png") 97% center no-repeat #fff;
      }
    }
    .doc-search-btn{
      float:left;
      width:52px;
      line-height:26px;
      text-align:center;
      color:#BDBDBD;
      font-size:12px;
      background:#EDEDED;
      border-radius:4px;
      cursor:pointer;
      &.on{
        background: #E2E7F2;
        color: #7A8EC1;
      }
    }
  }
}
.mate-and-all{
  margin-top:30px;
  font-size: 16px;
  color: #AAAAAA;
  text-align:center;
  li{
    cursor: pointer;
    display:inline-block;
    padding:0 15px;
    &.on{
      color: #7A8EC1;
    }
  }
}
.doctor-message-item{
  display: flex;
  padding:30px 40px;
  //&:hover{
  //  box-shadow: 0px 0px 10px 0px rgba(179,205,199,0.35);
  //}
  &.active{
    &:before{
      background: url(/image/img00/check/1_choose_nor_small.png) no-repeat;
    }
  }
}
.page-container{
  padding-bottom:30px;
}
.doctor-message-img{
  @include circle(50px);
  flex-shrink: 0;
  margin-right: 16px;
  & > img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 50%;
  }
}
.doctor-message-content{
  width: 100%;
  position: relative;
}
.doctor-message-content-head {
  font-size: 0;
  & > h4 {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: #222222;
    margin-right: 18px;
    max-width: 365px;
    line-height: 1.2;
  }

  & > .rate {
    font-size: 15px;
    color: #555555;
    display: inline-block;
    vertical-align: middle;
  }
  &>.netstat{
    font-size: 15px;
    color: #00BEAF;
    display: inline-block;
    vertical-align: middle;
    margin:0 14px;
    &.rest{
      color:#cccccc;
    }
  }
  .doctor-message-tags {
    display: inline-block;
    vertical-align: middle;
    .tags {
      background: #EEF6FF;
      border-radius: 2px;
      font-size: 12px;
      color: #8DAED9;
      display: inline-block;
      padding: 4px 8px;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.doctor-message-hospital{
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 16px;
  .medical,.hospital{
    margin-right:16px;
  }
}

.doctor-message-goodAt{
  margin:16px 0;
  color: #909090;
  font-size: 14px;
  max-width: 500px;
  line-height: 1.5;
  .high-light-search-text{
    color: #252525;
    font-weight:bold;
  }
}
.doctor-message-num{
  margin:16px 0;
  font-size: 0;
  & > span{
    margin-right: 40px;

  }
  & > .price{
    font-size: 14px;
    color: #909090;
    em{
      color: #F23E34;
      font-style: normal;
      font-weight: bolder;
    }
  }
  & > .askNum{
    color: #909090;
    font-size: 14px;

  }
  & > .lastNum{
    font-size: 14px;
    color: #909090;
    em{
      color: #00BEAF;
      font-style: normal;
      font-weight: bold;
    }
  }
}

.doctor-message-consult{
  border: 1px solid #A1AFD3;
  border-radius: 4px;
  height: 30px;
  padding:0 17px;
  font-size: 13px;
  color: #7A8EC1;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}